[submodule "home/.oh-my-zsh"]
	path = home/.oh-my-zsh
	url = git://github.com/robbyrussell/oh-my-zsh
[submodule "home/home/.oh-my-zsh.custom/plugins/zsh-syntax-highlighting"]
	path = home/.oh-my-zsh.custom/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "home/.oh-my-zsh.custom/themes/powerlevel10k"]
	path = home/.oh-my-zsh.custom/themes/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
